.row > h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 7em;
}
h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 2.5em;
}

.header-name{
    font-size: 50px;
    font-weight: 700;
}
.header-name span, h2{
    color: #fb8130
}
.Jacket-card-footer{
    background:  white;
    border: 0;
}
.jacks-border, .service-border{
   border-radius: 1em;
   border: 0;
}
.img-border{
    border-radius: 1em;
}
.btn > img {
    width: 40px;
}
.jackt-button {
    padding: 10px;
    border-radius: 10px;
}